In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Datasets/master/Regression/manhattan_Housing.csv")
data.head()

,rental_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,borough
0,1545,2550,0.0,1,480,9,2.0,17,1,1,0,0,1,1,0,1,Upper East Side,Manhattan
1,2472,11500,2.0,2,2000,4,1.0,96,0,0,0,0,0,0,0,0,Greenwich Village,Manhattan
2,2919,4500,1.0,1,916,2,51.0,29,0,1,0,1,1,1,0,0,Midtown,Manhattan
3,2790,4795,1.0,1,975,3,8.0,31,0,0,0,1,1,1,0,1,Greenwich Village,Manhattan
4,3946,17500,2.0,2,4800,3,4.0,136,0,0,0,1,1,1,0,1,Soho,Manhattan

In [3]:
data.columns

Index(['rental_id', 'rent', 'bedrooms', 'bathrooms', 'size_sqft',
       'min_to_subway', 'floor', 'building_age_yrs', 'no_fee', 'has_roofdeck',
       'has_washer_dryer', 'has_doorman', 'has_elevator', 'has_dishwasher',
       'has_patio', 'has_gym', 'neighborhood', 'borough'],
      dtype='object')

In [4]:
input_data = data.drop('rent',axis=1)
input_data.columns

Index(['rental_id', 'bedrooms', 'bathrooms', 'size_sqft', 'min_to_subway',
       'floor', 'building_age_yrs', 'no_fee', 'has_roofdeck',
       'has_washer_dryer', 'has_doorman', 'has_elevator', 'has_dishwasher',
       'has_patio', 'has_gym', 'neighborhood', 'borough'],
      dtype='object')

In [5]:
output_data = data['rent']

In [6]:
data.shape

(3539, 18)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3539 entries, 0 to 3538
Data columns (total 18 columns):
rental_id           3539 non-null int64
rent                3539 non-null int64
bedrooms            3539 non-null float64
bathrooms           3539 non-null int64
size_sqft           3539 non-null int64
min_to_subway       3539 non-null int64
floor               3539 non-null float64
building_age_yrs    3539 non-null int64
no_fee              3539 non-null int64
has_roofdeck        3539 non-null int64
has_washer_dryer    3539 non-null int64
has_doorman         3539 non-null int64
has_elevator        3539 non-null int64
has_dishwasher      3539 non-null int64
has_patio           3539 non-null int64
has_gym             3539 non-null int64
neighborhood        3539 non-null object
borough             3539 non-null object
dtypes: float64(2), int64(14), object(2)
memory usage: 497.8+ KB

In [10]:
input_data.drop(['neighborhood','borough'],axis=1,inplace=True
                )

In [11]:
input_data.columns

Index(['rental_id', 'bedrooms', 'bathrooms', 'size_sqft', 'min_to_subway',
       'floor', 'building_age_yrs', 'no_fee', 'has_roofdeck',
       'has_washer_dryer', 'has_doorman', 'has_elevator', 'has_dishwasher',
       'has_patio', 'has_gym'],
      dtype='object')

In [12]:
input_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3539 entries, 0 to 3538
Data columns (total 15 columns):
rental_id           3539 non-null int64
bedrooms            3539 non-null float64
bathrooms           3539 non-null int64
size_sqft           3539 non-null int64
min_to_subway       3539 non-null int64
floor               3539 non-null float64
building_age_yrs    3539 non-null int64
no_fee              3539 non-null int64
has_roofdeck        3539 non-null int64
has_washer_dryer    3539 non-null int64
has_doorman         3539 non-null int64
has_elevator        3539 non-null int64
has_dishwasher      3539 non-null int64
has_patio           3539 non-null int64
has_gym             3539 non-null int64
dtypes: float64(2), int64(13)
memory usage: 414.8 KB

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(
input_data,output_data,random_state=2,test_size=0.3)

## Applying the regression Algoritms

### Linear Regression

In [14]:
from sklearn.linear_model import LinearRegression
linear = LinearRegression()

In [15]:
linear.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [16]:
linear.score(x_train,y_train)

0.781018543346323

In [17]:
linear.predict([[1545,0.0,1,480,9,2.0,17,1,1,0,0,1,1,0,1]])

array([2930.44419869])

```
By observe the above results 
- original value is 2550
- Machine Predicted value is 2930
```

In [18]:
input_data.columns

Index(['rental_id', 'bedrooms', 'bathrooms', 'size_sqft', 'min_to_subway',
       'floor', 'building_age_yrs', 'no_fee', 'has_roofdeck',
       'has_washer_dryer', 'has_doorman', 'has_elevator', 'has_dishwasher',
       'has_patio', 'has_gym'],
      dtype='object')

In [19]:
linear.predict([[1500,4.0,3,2500,50,2.0,5,1,1,0,0,1,1,0,1]])

array([13605.40181822])

# Polynomial Regression

In [20]:
input_data.shape

(3539, 15)

In [24]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=5)

In [25]:
x_poly_train = poly.fit_transform(x_train)
x_poly_test = poly.fit_transform(x_test)

In [26]:
from sklearn.linear_model import LinearRegression
lin = LinearRegression()
lin.fit(x_poly_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [28]:
lin.predict(poly.fit_transform([[1500,4.0,3,2500,50,2.0,5,1,1,0,0,1,1,0,1]]))

array([-1603273.20584279])

### Decision Tree Regressor

In [29]:
from sklearn.tree import DecisionTreeRegressor
deec = DecisionTreeRegressor()

In [30]:
deec.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [31]:
deec.score(x_train,y_train)

1.0

```
Linear Regression score is 78%
Polynomial Regression score is 96.69%
decision tree regressor score is 100%
```

In [34]:
# polunomial Regression Score value
lin.score(x_poly_train,y_train)

0.9669741388296978

# Classification Algorithms

In [35]:
import pandas as pd

In [36]:
bird = pd.read_csv("https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Datasets/master/Classification/bird%20data.csv")
bird.head()

   id   huml  humw  ulnal  ulnaw   feml  femw   tibl  tibw   tarl  tarw type
0   0  80.78  6.68  72.01   4.88  41.81  3.70   5.50  4.03  38.70  3.84   SW
1   1  88.91  6.63  80.53   5.59  47.04  4.30  80.22  4.51  41.50  4.01   SW
2   2  79.97  6.37  69.26   5.28  43.07  3.90  75.35  4.04  38.31  3.34   SW
3   3  77.65  5.70  65.76   4.77  40.04  3.52  69.17  3.40  35.78  3.41   SW
4   4  62.80  4.84  52.09   3.73  33.95  2.72  56.27  2.96  31.88  3.13   SW

In [37]:
bird.isna().sum()

id       0
huml     1
humw     1
ulnal    3
ulnaw    2
feml     2
femw     1
tibl     2
tibw     1
tarl     1
tarw     1
type     0
dtype: int64

In [38]:
bird.columns

Index(['id', 'huml', 'humw', 'ulnal', 'ulnaw', 'feml', 'femw', 'tibl', 'tibw',
       'tarl', 'tarw', 'type'],
      dtype='object')

In [42]:
bird['huml']=bird['huml'].fillna(bird['huml'].mean())
bird['huml'].isna().sum()

0

In [45]:
bird['humw']=bird['humw'].fillna(bird['huml'].mean())
bird['ulnal'] = bird['ulnal'].fillna(bird['ulnal'].mean())
bird['ulnaw'] = bird['ulnaw'].fillna(bird['ulnaw'].mean())
bird['feml'] = bird['feml'].fillna(bird['feml'].mean())
bird['femw'] = bird['femw'].fillna(bird['femw'].mean())
bird['tibl'] = bird['tibl'].fillna(bird['tibl'].mean())
bird['tibw'] = bird['tibw'].fillna(bird['tibw'].mean())

bird['tarl'] = bird['tarl'].fillna(bird['tarl'].mean())
bird['tarw'] = bird['tarw'].fillna(bird['tarw'].mean())
bird.isna().sum()

id       0
huml     0
humw     0
ulnal    0
ulnaw    0
feml     0
femw     0
tibl     0
tibw     0
tarl     0
tarw     0
type     0
dtype: int64

In [46]:
input_values = bird.drop('type',axis=1)
output_values = bird['type']

In [47]:
from sklearn.model_selection import train_test_split
x_tr,x_te,y_tr,y_te = train_test_split(
input_values,output_values,random_state =1,test_size=0.25)

## Apply Diffrent Models 
1. KNN
2. Logistic Regression
3. Decision Tree
4. Random Forest
5. Support Vector Machine

### Decision Tree Classifier

In [48]:
from sklearn.tree import DecisionTreeClassifier
dec = DecisionTreeClassifier()

In [49]:
dec.fit(x_tr,y_tr)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [50]:
dec.predict([[0,80.78,6.68,72.01,4.88,41.81,3.70,5.50,4.03,38.70,3.84]])

array(['SW'], dtype=object)

In [51]:
from sklearn.metrics import accuracy_score
accuracy_score(y_te,dec.predict(x_te))

0.9809523809523809

### Random Forest Classifier

In [52]:
from sklearn.ensemble import RandomForestClassifier
rand = RandomForestClassifier()

In [53]:
rand.fit(x_tr,y_tr)

C:\Users\RANGA\anakonda\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [54]:
accuracy_score(y_te,rand.predict(x_te))

0.9428571428571428

## KNN

In [55]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()

In [56]:
knn.fit(x_tr,y_tr)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [57]:
accuracy_score(y_te,knn.predict(x_te))

0.9333333333333333

### Logistic Regression

In [58]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()

In [59]:
log.fit(x_tr,y_tr)

C:\Users\RANGA\anakonda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\RANGA\anakonda\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [60]:
accuracy_score(y_te,log.predict(x_te))

0.8666666666666667

```
Decision tree accuracy is 98%
Random Forest accuracy is 94%
Logistic accuracy is 86.6%
Knn accuracy is 93.3%
```